.app {
  width: 100vw;
  height: 100vh;
  color: #000;
  background-color: #ddd;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /*  for firefox */
}

/*  for chromium browsers */
.app::-webkit-scrollbar {
  display: none;
}

.app main {
  height: 100vh;
}